* {
    box-sizing: border-box;
}
section.s1,section.s2{
    background-color: rgb(0, 0, 0);
    width: fit-content;
   margin: 0%;
   color: #dddddd;
}
section.s1 h2+p,section.s1 h2+p+p{
    color: #ffffff;
    font-size: 110%;
}
nav{background-color: rgba(6, 94, 0, 0.845);
overflow:hidden;
margin: 0%;}
li a {text-decoration: none;font-size: 145%;}
nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(255, 255, 255);
}
nav a:hover{
    color: rgb(255, 0, 0);
}
body{background-color: #000000;;}
header{
    background-color: #000000; 
    text-align: center;
    color: aliceblue;
    margin-top: 0%;margin-bottom: 0%;margin-left: 0%;margin-right: 0%;
}
header h1{
    margin-top: 0%;
}
table.res{background-color: #dddddd;
width: fit-content;}
section.s2{background-color:rgba(0, 0, 0, 0.81) ;}
section.res{background-color:rgba(0, 0, 0, 0.81) ;}
footer{
    color: #000000;
overflow: hidden;
margin-top: 1%;margin-bottom: 0%;margin-left: 0%;margin-right: 0%;}
    footer a{color: rgb(255, 255, 255);
    float: left;
    margin: 2;
text-decoration: none;
text-align: center;
overflow: hidden;
}
table.res{

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
